@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: 'Tilt Neon';
  height: 100%;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -99;
}

.content {
  position: relative;
  z-index: 1;
}

.top-board {

}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.836);
}

.scoreboard-left {
  margin-right: 40px;
  margin-bottom: 10px;
  
}

.scoreboard-right {
  margin: 0;
}

.score-x {
  font-size: 48px;
  color: #a14eee;
}

.score-o {
  font-size: 48px;
  color: #3fbb96;
}

.score-x,
.score-o {
  font-size: 2em;
  font-weight: bold;

}

.message {
  font-size: 2em;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.863);
}

.game-board {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
}

.tile {
  width: 85px;
  height: 85px;
  background-color: #ddddddc4;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  max-width: 100%;
}

.start i, .reset i, .music i {
  font-size: 2em;
  margin: 1em;
  color: rgba(255, 255, 255, 0.849);
}

.start i:hover, .reset i:hover, .music i:hover {
  font-size: 2em;
  margin: 1em;
  color: #b87bf1;
  cursor: pointer;
}

#play {
  display: none;
}

.x-symbol {
    color: #b87bf1;
    background-color: #b87bf152;
}

.o-symbol {
    color: #53f0c1;
    background-color: #53f0c18c;
}



@media (max-width: 768px) {
  .scoreboard {
    width: 150px;
    font-size: 16px;
  }

  .score-x,
  .score-o {
    font-size: 1.5em;
  }

  .game-board {
    margin: 10px;
  }

  .tile {
    width: 90px;
    height: 90px;
    font-size: 30px;
  }

  .startBtn,
  .reset-btn {
    font-size: 16px;
    padding: 5px 10px;
  }
}

@media (min-width: 1424px) {
  .tile {
    width: 200px;
    height: 200px;
    padding-bottom: 15%;
    font-size: 8vw;
  }
}


