.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    margin: 0 auto;
}

.tile {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    font-size: 72px;
    text-align: center;
    line-height: 100px;
}

.reset {
    display: flex;
    justify-content: space-between;
}