.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard-left {
    margin-right: 30px;
  }

.scoreboard-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.score-x,
.score-o {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tile {
    width: 100px;
    height: 100px;
    border: 2px solid black;
  }

.reset {
  text-align: center;
  margin-top: 50px;
}

.reset-btn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .scoreboard {
    margin-bottom: 20px;
  }
}
