.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    bo
}

.scoreboard-left {
    margin-right: 30px;
  }

.scoreboard-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.score-x{
    font-size: 48px;
  color: red;
}

.score-o {
    font-size: 48px;
  color: blue;
}

.score-x,
.score-o {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.message {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .game-board {
    display: flex;
    justify-content: center;
  }

  .tile {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }

  .reset {
    text-align: center;
    margin-top: 50px;
  }
  

  .reset-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

@media (max-width: 767px) {
  .scoreboard {
    margin-bottom: 20px;
  }
}
