.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
}

.scoreboard-left {
  margin-right: 70px;
  margin-bottom: 10px;
}

.scoreboard-right {
  margin: 0;
}

.score-x {
  font-size: 48px;
  color: #b87bf1;
}

.score-o {
  font-size: 48px;
  color: #53f0c1;
}

.score-x,
.score-o {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}

.message {
  font-size: 2em;
  margin: 20px;
}

.game-board {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

.tile {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  max-width: 100%;
}

.start i, .reset i, .home i {
  font-size: 2em;
  margin: 1em;
}

.x-symbol {
    color: #b87bf1;
    background-color: #b87bf152;
}

.o-symbol {
    color: #53f0c1;
    background-color: #53f0c18c;
}



@media (max-width: 767px) {
  .scoreboard {
    width: 150px;
    font-size: 16px;
  }

  .score-x,
  .score-o {
    font-size: 1.5em;
  }

  .game-board {
    margin: 10px;
  }

  .tile {
    width: 100px;
    height: 100px;
    font-size: 30px;
  }

  .startBtn,
  .reset-btn {
    font-size: 16px;
    padding: 5px 10px;
  }
}


